*{
    padding: 0;
    margin: 0;
}
.text-left{
    text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float:right ;
}
img{
    max-width: 100%;
   
}
a{
    text-decoration: none;
}
.mairala-content{
    max-width: 1300px;
    margin: auto;
}
/* kaj soro */
body,h1,h2,h3,h4,h5,h6,p,samp{
    font-family: 'Work Sans', sans-serif;
}
.header-menu {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 68px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header-menu a{
    color: #000000;;
}
.header-logo{
    width: 30%;
    /* margin-top: 20px; */
}
.header-logo:hover span{
    color: #bebebe;
    
}
.logo-design img {
    width: 11%;
    float: left;
    margin-right: 10px;
    margin-top: 14px;
}
.logo-design span {
    font-weight: 500;
    margin-top: 18px;
    display: inline-block;
    font-size: 27px;
   transition: .4s;
}
/* .logo-design{
    margin-top: 20px;
} */
.header-home{
    width: 60%;
}
.header-bt{
    width: 10%;
}
.praimary-menu{}
.praimary-menu ul{
    margin-top: 7px;
}
.praimary-menu ul li{
    display: inline-block;
   
}
.praimary-menu ul li a {
    display: block;
    padding: 0px 9px;
    font-size: 19px;
    line-height: 49px;
}
.praimary-menu ul li:hover > a {
    background: #c485851c;
    color: red;
}
.header-butten{
    border: 2px solid #2462c2;
    display: inline-block;
    padding: 11px 27px;
    margin-top: 10px;
    color: #2462c2 !important;
    border-radius: 9%;
    font-size: 16px;
    
    font-style: oblique;
    font-weight: 600;
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, 0.71);
}
.header-butten:hover {
    background: #6278df;
    color: white !important;
    box-shadow: 0px 15px 74px 18px rgba(87, 232, 226, 0.97);
}

/* drop down menu */
.praimary-menu ul li a i{
    color: red;
}
.praimary-menu ul li{
    position: relative;
    
}
.praimary-menu ul li ul {
    position: absolute;
    left: 0;
    top: 105%;
    width: 300px;
    background: #f0f3f166;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: skewX(0deg) rotateY(0deg);
    display: inline-block;
    border-top: 5px solid green;
 
}
.praimary-menu ul li ul li{
    display: block;
    border-bottom: 2px dotted red;
}
.praimary-menu ul li ul li a{
    display: block;
}

.praimary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: skewX(5deg) rotateY(10deg)
}
/* css-banner */
.banner-setion{
    background:url(./img/mbr-4.jpg) no-repeat center center;
    background-size: cover;
    padding: 140px 0;
    position: relative;
    z-index: 1;
    margin-top: 69px;
}
.banner-setion::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.44);
    z-index: -1;
}
.banner-setion h4 {
    color: #fff;
    font-size: 27px;
    font-weight: 482;
}
.banner-setion h1 {
    color: #fff;
    font-size: 59px;
    font-weight: 600;
    margin: 40px 0;
}
.deafult-btn {
    color: #7d7d7d;
    background: #fff;
    font-size: 21px;
    padding: 23px 29px;
    display: inline-block;
    border-radius: 6%;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 600;
    box-shadow: 4px 30px 50px 0 rgba(120, 139, 227, .5);
}
.deafult-btn:hover{
    background:#91a0e8;
    color: #fff;
}
/* vedio edit */
.banner-vedio {
    background: #2cafe21a;
    padding: 116px 0;
}
.left-vedio{
    width: 48%;
}
.right-conten{
    width: 48%;
}
.right-conten h3 {
    font-size: 51px;
    font-weight: 400;
}
.right-conten p {
    margin-top: 28px;
    color: #897261;
    font-size: 24px;
}
/* service section  */
.service-section {
    background: #642aab0d;
    border-radius: 12%;
}
.service-content {
    
   
    
}
.service-content h1 {
    margin-bottom: 33px;
    padding-top: 92px;
    font-size: 56px;
    font-weight: 700;
}
.service-content p {
    color: #767676;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 79px;
}
.service-boxes {
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 #7389bb82;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 3rem 2rem;
    border-radius: 5%;
}
.service-boxes:nth-child(3){
    margin-right: 0;
}
.service-boxes:hover{
    background: #b3ae694d;
   
}
.s-icon {
    float: left;
    width: 50px;
    min-height: 142px;
    font-size: 40px;
    margin-right: 36px;
    color: #94a6dc;
}
.s-content{}
.s-content h3 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #1f0606;
}
.s-content p {
    font-size: 23px;
    line-height: 1.5em;
    color: #767676;
}

.praising-tble {
    padding: 64px;
    background: #f7f9ff;
}
.praising-table-content{}
.praising-table-content h2 {
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 34px;
}
.praising-table-content p {
    font-size: 26px;
    color: #767676;
    margin-bottom: 112px;
    font-weight: 400;
}
.praising-table-tk{
    
}
.praising-tble-mamu {
    width: 31.3%;
    margin-right: 2%;
    background: #fff;
}

.p-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 38px;
    font-size: 23px;
    margin-top: -22px;
}
.p-heading h3 {
    font-size: 29px;
    margin-top: 22px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 3.5em;
    margin-left: 30px;
}
.p-heading span {
    font-size: 30px;
    font-weight: 516;
}
.p-heading h2 {
    font-size: 21px;
    margin-top: 16px;
    font-weight: 500;
    margin-left: 30px;
}
.p-heading h1{
    margin-left:30px ;
}

.p-heading P {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 395;
}
.p-iteams ul {
    margin-top: 32px;
    list-style: none;
    line-height: 3.0em;
    color: #7e8b9b;
    margin-left: 30px;
    font-size: 20px;
}
.p-iteams {
    padding-bottom: 60px;
    padding-top: 22px;
}
.p-iteams span {
    color: #5779e0;
    font-size: 30px;
    width: 45px;
    display: inline-block;
}
.p-items li{
    margin-left: 10px;
}
        
.p-batton {
    padding: 47px 0;
    margin-bottom: 20px;
}
.praising-tble-mamu:hover .p-heading{
    background:#788be3;
    color: #fff;
    border-radius:1%;
    transition: .6s;
}
.praising-tble-mamu:hover .p-batton .deafult-btn{

    background:#788be3;
    color: #fff;
}
/*  team */
.team-section{
    padding: 50px 0;
    padding: 50px 0;
}
.team-member{}
.member {
    width: 23%;
    margin-right: 2%;
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, .2);
    background: #f4dcf061;
}
.member img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.mamber-boi {
    padding: 32px 0;
}

.mamber-boi h4 {
    font-size: 25px;
    font-weight: 500;
    margin-left: 14px;
}
.mamber-boi p {
    margin-left: 14px;
    color: #808080;
    font-size: 18px;
    line-height: 2.9em;
}
/* news sectrion */

.news-content p {
    font-size: 29px;
    font-weight: 300;
    margin-bottom: 26px;
}
.news-content h2 {
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 53px;
}
.newsportal {
    background: #f7f9ff;
    padding: 127px 0;
}
.email-form {
    padding: 21px 25px;
    font-size: 32px;
    border: none;
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, 2);
    border-radius: 5%;
    box-sizing: border-box;
}
.submit-btn {
    background: #6278df;
    font-size: 39px;
    padding: 14px 20px;
    color: #fff;
    border-radius: 5%;
    border: none;
    cursor: progress;
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, 2);
    transition: .6s;
}
.submit-btn:hover{
    background:#fff;
    color: #6278df;
}
/* blog title */
.blog-content{
    padding: 50px 0;
}
.blog-title {
    padding: 88px 0;
}
.title-blog{}
.header-title1 {
    width: 50%;
   
}
.header-title1 h3 {
    
    font-size: 59px;
    font-weight: 416;
}
.header-title2{
    width: 50%;
}
.header-title2 p {
    font-size: 23px;
    color: #76768f;}

.image-title1{
    width: 48%;
    margin-right: 2%;
}
.image-title2{
    width: 48%;
}
.image-title11{
    width: 50%;
}

.image-title11 img{
    max-width: 100%;
    border-radius: 5px 0 0 5px;

}
.image-title12{
    width: 50%;
    background: #ffffff
    margin-bottom: 29px;
    padding: 22px 0;
    
}
.image-title12:hover{
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, .7);
}
.image-title12 h3 {
    font-size: 23px;
    margin-left: 38px;
    margin-top: 30px;
    font-weight: 500;
}
.image-title12 p {
    font-size: 24px;
    margin-left: 38px;
    margin-top: 21px;
    color: #877676;
    font-weight: 300;
}

.image-title22{
    width: 50%;
}
.image-title12 img{
    max-width: 100%;
    border-radius: 5px 0 0 5px;

}
.image-title22 img{
    max-width: 100%;
    border-radius: 5px 0 0 5px;

}
.image-title23{
    width: 50%;
    background: #ffffff
    margin-bottom: 29px;
    padding: 22px 0;
    
}
.image-title23 h3 {
    font-size: 23px;
    margin-left: 38px;
    margin-top: 30px;
    font-weight: 500;
}
.image-title23 p {
    font-size: 24px;
    margin-left: 38px;
    margin-top: 21px;
    color: #877676;
    font-weight: 300;
}
.image-title23:hover{
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, .7);
}
/* feedback css */
.feedback{
    background: #f7f9ff;
    padding: 127px 0;
}
.testimonial {
    margin-top: 89px;
}
.t-items{
    width: 31.5%;
    margin-right: 2%;
}
.t-items:last-child{
    margin-right: 0;
}
.user-image{
    width: 189px;
    margin: auto;
}
.user-image img {
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 17px;

}
.user-sms {
    background: #fff;
    box-shadow: 12px 10px 34px 2px rgba(120, 139, 227, .7);
    padding: 70px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
}
.user-sms::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -19px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #fafafa transparent transparent transparent;
}
.user-sms p {
    color: #767676;
    font-size: 16px;
    font-weight: 402;
    line-height: 29px;
    position: relative;
}
.user-sms p::before {
    content: "\f10d";
    font-family: "Font Awesome 5 free";
    font-weight: 671;
    font-size: 61px;
    position: absolute;
    opacity: .2;
    margin-top: -7PX;
}
.user-boi h4 {
    font-size: 17px;
    font-weight: 499;
}
.user-boi p{
    color: #767676;
}
.contract-section{
    padding: 54px 0;
}
.contract-form h3 {
    font-size: 32px;
    font-weight: 402;
    margin-bottom: 30px;
}
.contract-form p {
    color: #767676;
    font-size: 23px;
    line-height: 1.5em;
}



.contract-map{
    width: 48%;
}
.contract-form{
    width: 48%;
    margin-left: 2%;
}
.real-contract-form .w100{
    width: 100%;}
.real-contract-form .w50{
    width: 48%;
}
.real-contract-form{
    margin-top: 52px;
}
.real-contract-form .email-form{
    margin-bottom: 30px;
}


.contract-footer{
    padding: 87px 0;
}
.contract-footer p{
    font-size: 33px;
}